<!DOCTYPE html>
<meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">
<html>
    <body>
      <ul class="login">
        <form name="signin" class="topsign">
          <li><div id="loginMess">User Login: <span id="userVal"><%=userVal%></span></div></li>
          <li><input class="loginField form-control" id="usr" required type="text" autofocus></input></li>
          <li><input class="loginField form-control" id="pass" required type="text"></input></li>
          <li><button class="loginField btn" id="signin-btn" required type="submit">login</input></li>
          <li><button class="loginField btn" id="signup-btn" type="submit">register</input></li>
        </form>
      </ul>
    <div align="center" class="viewer">
          <h1>Darth Voter</h1>
          <div class="mtable">
              <a href="/login" class="btn"><span class="fa fa-user"></span> Local Login</a>
              <a href="/signup" class="btn"><span class="fa fa-user"></span> Local Signup</a>
              <a href="/newPost"><button id="toMaker"  class="btn" type="submit">New Poll</button></a>
            <div>
              <p id="pollTable"><span id="pollData"><%-pollData%></span></p>
            </div>
          
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="/ejs.min.js"></script>
        <script src="/javascripts/signin.js"></script>
        <script src="/javascripts/signup.js"></script>
        <script src="/javascripts/pollViewer.js"></script>
        <script>
          var html = ejs.render('<%= userVal %>');
          $("#userVal").html(html);
          document.getElementById('userVal').innerHTML = html;
          var polls = ejs.render('<%- pollData %>');
          $("#pollData").html(pollData);
          document.getElementById('pollData').innerHTML = pollData;
          
        </script>
    </body>
</html>