<!DOCTYPE html>
<meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
<html>
    <body>
      <ul class="login">
        <form name="signin" class="topsign">
          <li><div id="loginMess">User Login: <span id="userVal"><%=userVal%></span></div></li>
          <li><input class="loginField form-control" id="usr" type="text" autofocus></input></li>
          <li><input class="loginField form-control" id="pass" type="text"></input></li>
          <li><button class="loginField btn" id="signin-btn" type="submit">login</input></li>
          <li><button class="loginField btn" id="signup-btn" type="submit">register</input></li>
        </form>
      </ul>
    <div align="center" class="viewer">
          <h1>Darth Voter</h1>
          <div class="mtable"><p>This will be the main table</p>
          <a href="/newPost.ejs"><button id="toMaker" type="submit">New Poll</button></a>
            <div>
              <p id="loginMess">Voting Data</p>
            </div>
          
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="/ejs.min.js"></script>
        <script src="/javascripts/signin.js"></script>
        <script src="/javascripts/signup.js"></script>
        <script src="/javascripts/userClient.js"></script>
        <script>
          var html = ejs.render('<%= userVal %>');
          $("#userval").html(html);
          document.getElementById('userVal').innerHTML = html;
        </script>
    </body>
</html>