body {
    background-color: #20B2AA;
    font-family: Raleway;
}

.mtable {
    border: 1px solid black;
    max-width: 70%;
    margin-bottom: 10%;
    padding-bottom: 10%;
}
ul {
    list-style-type: none;
}
.login {
    width: 100%;
    display: inline-block;
    top: 0;
    padding: 0px;
    position: fixed;
    overflow: visible;
    background-color: khaki;
}

.login li {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    line-height: 14px;
}

.topsign {
    float: right;
}

.viewer {
    margin-top: 10%;
}
.pollMaker {
    display: table;
}
.loginField {
    display: inline-block;
    margin: 2%;
}
.postField {
    display: block;
    margin: 2%;
    float: left;
    clear: left;
}
.numSelect {
    /*max-width: 20%;*/
    display: block;
}
#pollForm {
    display: block;
    margin-top: 20%;
}
.poll {
    display: block;
    background-color: bisque;
    max-width: 80%;
    margin-top: 2%;
    border-radius: .7em;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.4);
}
h3 {
    padding-top: 5%;
}
p {
    padding-bottom: 3%;
}
/*
.usr {
    justify-content: center;
}

.pass {
    justify-content: center;
}

.btn-signin {
    justify-content: center;
}
*/